/***************** GLOBAL PARAMETERS ************/
html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

}

/************* BOX SIZES  *****************/
#accordion{
    width: 30%;
    display: inline-block;
}

#tabs{
    width: 69%;
    display: inline-block;
    float: right;
}

.ui-accordion-content { height: auto; }

.ui-widget{
    margin: 0;
    vertical-align: top;
    height: 100vh;
}

/***************** EDIT DOC *******************/
#toolbar{
    border-top: 1px grey solid;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

#toolbar section img{
    background-color: #A5A6A4;
    border-radius: 2px;
    border: 1px gray solid
}


.edit-doc{
    padding: 20px;
}

.edit-doc section{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
}

#textBox{
    padding: 10px;
    background-color: #fff;
}
