/***************** GLOBAL PARAMETERS ************/
html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

/************* BOX SIZES  *****************/
.container{
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
	height: 100vh;
}
.container.p60 { width: 60%; }
.container.p40 { width: 40%; }

#accordion, #tabs { margin: 0; padding: 0; border: 0; }
#accordion > .content, #tabs > .content {
	padding: 10px;
	margin: 0;
}

.ui-widget{
    margin: 0;
    height: 100%;
}

/***************** EDIT DOC *******************/
#toolbar{
    border-top: 1px grey solid;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    background-color: gray;
}

span.ui-icon-close{
    display: inline-block;
    position: relative;
    top: 9px;
    right: 9px;
}


.edit-doc{
    padding: 20px;
}

section {
    display: inline-block;
}

.edit-doc section{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    display: inline-block;
    padding-right: 10px;
}

.textBox{
    padding: 10px;
    background-color: #fff;
    border: 1px gray solid;
    border-top: none;
    height: 80vh;
}
