/***************** GLOBAL PARAMETERS ************/
html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

}

/************* BOX SIZES  *****************/
#accordion{
    width: 30%;
    display: inline-block;
}

#tabs{
    width: 69%;
    display: inline-block;
    float: right;
}

.ui-accordion-content { height: auto; }

.ui-widget{
    margin: 0;
    vertical-align: top;
    height: 100vh;
}
