<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="Style/bv.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="Style/jquery-ui.css">
        <link rel="stylesheet" href="Style/jquery-ui.theme.css">
    </head>
    <body onload="initDoc();">
    <div id="accordion">
        <h3>Homedir</h3>
            <div>
              <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo utodio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
            </div>
        <h3>Calculette</h3>
            <div>

            </div>
        <h3>Calendrier</h3>
            <div>

            </div>
        <h3>Jeu</h3>
            <div>

            </div>
    </div><!--
    --><div id="tabs">
        <ul>
            <li><a href="#tabs-1">Nunc tincidunt</a></li>
            <li><a href="#tabs-2">Proin dolor</a></li>
            <li><a href="#tabs-3">Aenean lacinia</a></li>
        </ul>
        <div class="edit-doc" id="tabs-1">
            <div id="toolbar">
                <section>
                    <img class="intLink" title="Bold" onclick="formatDoc('bold');" src="../data/icons/edit-bold.png" />
                    <img class="intLink" title="Italic" onclick="formatDoc('italic');" src="../data/icons/edit-italic.png" />
                    <img class="intLink" title="Underline" onclick="formatDoc('underline');" src="../data/icons/edit-underline.png" />
                </section>
                <section>
                    <img class="intLink" title="increaseFontSize" onclick="formatDoc('increaseFontSize');" src="../data/icons/edit-size-up.png" alt="">
                    <img class="intLink" title="decreaseFontSize" onclick="formatDoc('decreaseFontSize');" src="../data/icons/edit-size-down.png" alt="">
                </section>
                <section id="alignment">
                    <img class="intLink" title="left" onclick="formatDoc('justifyLeft');" src="../data/icons/edit-alignment.png" alt="">

                    <img class="intLink" title="RightAlign" onclick="formatDoc('justifyRight');" src="../data/icons/edit-alignment-right.png" alt="">
                    <img class="intLink" title="Justify" onclick="formatDoc('justifyFull');" src="../data/icons/edit-alignment-justify.png" alt="">
                </section>
            </div>
            <div id="textBox" contenteditable="true"><p>Lorem ipsum</p></div>
        </div>
        <div id="tabs-2">
          <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
        <div id="tabs-3">
          <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
          <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
    <script type="text/javascript" src="JS/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="JS/jquery-ui.js"></script>
    <script type="text/javascript" src="JS/jquery.cookie.js"></script>
    <script type="text/javascript" src="JS/bv.js"></script>
    </body>
</html>
